{
  "presets": [ "es2015-rollup","es2017"],
  "plugins":["transform-async-to-generator",["transform-runtime",{
    "helpers": false,
    "polyfill": false,
    "regenerator": true,
    "moduleName": "babel-runtime"      
  }]]
}